<div class="user-header-message-box" style="background: url('assets/4.png') center center fixed no-repeat;
    background-size: 100% 100%; height: 100%">

  <div class="user_header">
    <div class="user animated">
      <div class="user_picture">
          <img class="user-header-profile-image" src="https://picsum.photos/200" alt="User profile picture(randomly)">
      </div>
      <div class="user_info">
        <h2 class="user_name"> Username : {{user.name}}
          <i class="icon-ok-sign verified"></i>
        </h2>
        <hr>
        <ul class="user_list">
          <li>Last login time : {{loginDate | date: 'short'}}</li>
          <li> Last logout time : {{logoutDate | date: 'short' }}</li>
          <li> Last saved unread messages count : {{count}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="message-component">
    <hr>
    <div #scroll [scrollTop]="scroll.scrollHeight" style="background-image: url('assets/pattern.png');"
         class="message-container">
      <div class="messages">
        <div *ngFor="let message of messages"
             [ngClass]="{'current-user': isCurrentUser(message.userId), 'other-user': !isCurrentUser(message.userId)}">

          <div class="bubble">
           <div *ngIf="(user.exitTime < message.date.getTime() && loginDate > message.date )" style="display: flex; flex-direction: row;">
             <img src="assets/new-message-icon.png" style="height: 20px" alt=""> <b class="new-message-text" > New Message !</b>
           </div>
            <div class="user-knowledge-div">
              <div *ngIf="!isCurrentUser(message.userId)" class="user-name">
                {{message.userName}}
              </div>
              <div *ngIf="isCurrentUser(message.userId)" class="user-name">
                Me ( {{user.name}} )
              </div>
              <div >
                <img src="https://img.icons8.com/emoji/50/000000/green-circle-emoji.png" class="user-status" alt="Active user sign (green circle)">
                <img src="https://img.icons8.com/emoji/48/000000/red-circle-emoji.png" class="user-status" alt="Inactive user sign (red circle)">
              </div>

            </div>

            <div class="message-text">
              <span class="margin-right-10">{{message.text}}</span>
              <span *ngIf="isToday(message.date)" class="message-date">
              {{message.date | date:'hh:mm a'}}, Today
            </span>
            </div>
            <div *ngIf="!isToday(message.date)" class="message-date">
              {{message.date | date:'short'}}
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <form (submit)="send()" class="message-form">
      <input #messageInput class="input-message" [(ngModel)]="textArea" [formControl]="name" placeholder="Write your message..." type="text">
<!--      <i (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</i>-->
<!--      <br>-->
<!--      <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>-->
      <div class="send-button">
        <button [hidden]="name.value === ''" [disabled]="name.value === ''" type="submit"
                class="message-component-button">
          <b style="margin-left: 3px">Send</b> <img
          style="  margin: -2px -22px -2px 8px;"
          class="send-message-button-image" src="assets/paper-plane.png" alt="">
        </button>
      </div>

    </form>
  </div>

</div>
