
.user-header-message-box {
  //padding-top: 80px;
  height: 91.6%;
  -webkit-background-size: cover !important;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 2%;
}

.message-component {
  height: 63%;
  border-radius: 12px;
  width: 80%;
  margin: auto;

  @media (max-width: 900px) {
    height: 60%;
    width: 80%;

  }


  .message-container {
    padding: 15px;
    height: calc(100% - 80px);
    overflow-y: scroll;
    border-radius: 12px;
    //background-color: white;

    background-size: cover !important;

    .messages {
      .current-user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .other-user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .bubble {
        box-shadow: -1px 1px 0px #ccd6d8;
        padding: 10px;
        border: solid 1px #9f9f9f;
        border-radius: 10px 1px 10px  1px;
        background-color: white;
        @media (max-width: 900px) {
          padding: 2px;
        }
      }

      .current-user, .other-user {
        margin-bottom: 20px;
      }

      .user-name, .message-date {
        color: #949494;
        font-size: 12px;

        @media(max-width: 900px) {
          font-size: 8px;
        }
      }

      .user-name, .message-text {
        margin-bottom: 5px;
      }

      .message-text {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-content: flex-end;

        @media(max-width: 900px) {
          font-size: 12px;
        }

        .margin-right-10 {
          margin-right: 10px;
        }
      }
    }

    opacity: 0.8;
  }


  .message-form {
    width: 100%;
    background-color: transparent;
    height: 75px;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    @media (max-width: 1000px) {
      height: 50px;
    }

    input[type=text]:focus {
      border-color: #2d6ad9;
      box-shadow: 0 0 4px 0 #2d6ad9;
    }

    .send-button {
      font-size: 20px;
      width: 100px;

      button {
        cursor: pointer;
        outline: none;
        color: #2d6ad9;
        font-size: large;
        padding-left: 0;
        width: inherit;
        background-color: aliceblue;
        height: 53px;

        @media(max-width: 900px) {
          font-size: 15px;
          height: 36px;

        }
      }
    }
  }
}

.send-message-button-image {
  width: auto;
  height: auto;
  padding-right: 12px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0 0 3px #dfdfdf inset;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

.input-message {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;
  height: 70%;
  width: inherit;
  margin: 8px 12px;
  padding: 10px;
  color: white;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 25px;
}

.message-component-button {
  transition: all .5s ease;
  border: 3px solid #fff;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 12px;

  @media (max-width: 900px) {
    padding-bottom: 1rem;
    margin-bottom: 15px;
  }
}

.message-component-button:hover {
  color: #001F3F;
  background-color: #fff;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

hr {
  border: solid;
  border-width: 1px;
  border-color: #fcfcfc;

  @media (max-width: 900px) {
    width: initial;
    margin-right: 16px;
  }
}

.info_icon {
  color: #0B86C3;
  font-size: 18px;
  padding: 3px;
}

.user_header {
  width: 70%;
  height: 117px;
  margin: auto;
  padding: 10px;
  background: url('https://subtlepatterns.com/patterns/use_your_illusion.png') center center fixed no-repeat;

  @media only screen and (max-width: 900px) and (min-width: 450px){
    margin-left: 5rem;
    padding-top: 8%;

  }

  @media (max-width: 450px) {
    width: 32%;
    margin: auto auto auto 20px;

  }
}

.user {
  width: 700px;
  height: 100px;
  float: left;
}

.user_picture {
  float: left;
  padding-right: 20px;

  @media (max-width: 400px) {
    padding-right: 10px;
  }
}

.user-header-profile-image {
  height: 120px;
  @media only screen and (max-width: 800px) and (min-width: 450px) {
    height: 110px;
  }

  @media only screen and (max-width: 450px) {
    height: 60px;
  }
}


.user_info {
  width: 100%;
  height: inherit;
  background-color: #3c3c3c66;
  padding: 10px;

  @media only screen and (max-width: 800px) and (min-width: 400px) {
    width: 50%;
    padding: 6px;
  }

  @media only screen and (max-width: 400px) {
    width: 31%;
  }
}

.user_name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #fff;
  letter-spacing: 1.75px;

  @media (max-width: 900px) {
    font-size: small;
  }
}

.verified {
  color: #0B86C3;
}

.user_info ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.user_list {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  display: flex;

  @media only screen and (max-width: 900px) and (min-width: 450px) {
    font-size: xx-small;
    padding: 0;
    margin: 0;
  }

  @media only screen and (max-width: 450px) {
    font-size: xx-small;
    display: inline-block;
  }
}

.user_list li {
  display: inline;
  margin-right: 20px;
  letter-spacing: 1px;
}

.user-status{
  height: 10px;
  padding-bottom: 4px;
  padding-left: 5px;

  @media (max-width: 500px) {
    padding-bottom: 7px;
  }
}

.new-message-text{
  color: #0B86C3;

  @media (max-width: 900px) {
    font-size: small;
  }
}
////////////////////
