<div class="user-entering-form fade-in-bg" *ngIf="!user"
     style="background: url('assets/chat-background.jpg') center center fixed no-repeat; background-size: cover;">
  <ng-container>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div class="">
        <img class="kchat-logo slide-in-blurred-top-img" src="assets/kchat-removebg-preview(1).png">
      </div>
      <h1 class="marginBottom15 slide-in-blurred-right-input" style="color: white; ">
        Welcome to the KChat App
      </h1>
    </div>
    <form (submit)="activateUser()">
      <div class="slide-in-blurred-left-title ">
        <input class="" #userInput [formControl]="userName" type="text" placeholder="Type your name, please ...">
      </div>
      <div style="display: flex; justify-content: center; margin-top: 2rem;">
        <button *ngIf="userName.value" type="submit" class="semi-transparent-button">
          Let's go!
        </button>
      </div>
    </form>
  </ng-container>
</div>
<div *ngIf="user" style="height: 100%">
  <ng-container>
    <app-messages [user]="user"></app-messages>
  </ng-container>
</div>

